*{
margin: 0px;
padding: 0px;
    text-align: center;
}

#sitebox {
    background: #333;
    border: 1px solid #333;
}

.content {
    width: 33%;
    line-height: 17px;
    text-align: center;
    background: #333;
    margin: auto;
}


.content h2	   {
    color: #F26F29;
    text-transform: uppercase;
    font-family: Verdana, arial;
    text-align: center;
    font-size: 1.2em;
    background: #333 repeat-x bottom;
    margin-bottom: 7px;
}

.content p{
    color: #a0a0a0;
    font-family: Verdana, arial;
    font-size: 0.9em;
    margin: auto;
    margin-top: 5px;
}