*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background: #fff url(../img/food2.jpg) ;
    font-family: Times New Roman,verdana, arial, Trebuchet MS;
    font-size: 80%;
    color: #b0b0b0;
    text-align: center;
}

#topbox {
    background: #333;
}

.content {
    width: 33%;
    line-height: 17px;
    background: #333;
    margin: auto;
}

.content h2	   {
    color: #F26F29;
    text-transform: uppercase;
    font-family: Verdana, arial;
    font-size: 1.2em;
    background: #333 repeat-x bottom;
    margin-bottom: 7px;
}

.content p{
    color: #a0a0a0;
    font-family: Verdana, arial;
    font-size: 0.9em;
    margin: auto;
    margin-top: 5px;
}
.content a {
    color: #a0a0a0;
}